.bannerSection {
    background: linear-gradient(to bottom right, #00ffc8bb, #00ff48cf);
    width: 250px;
    height: 151px;
}
body {
    background-image: url(../Image/guaira-falls.jpg);
    background-repeat: repeat;
    background-size: cover;
}
.gradient {
    background: linear-gradient(to bottom right, #00ffc8bb, #0077ffad);
    width: 250px;
    height: 151px;
}